* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7df0f5;
}

.form {
    display: flex;
    padding: 10px;
    background: #fff;
    border:  1px solid;
    border-radius:  10px;
    max-width: 100%;    
}

.form-button  {
    width: 65px;
    height: 40px;
    padding: 10px;
}

.form-input {
    flex-grow: 1;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto; 
}

.todo-item {
    display: flex;
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 5px;
    align-items: center;
}


.todo-item-desc {
    background-color: yellow;
    max-width: 500px;
    margin: 0 10px;
    flex-grow: 1;
    padding: 0 10px;
    border: none;
    resize: none
}

.todo-item-desc-line-through .todo-item-desc {
    text-decoration: line-through;
}

.todo-label {
    display: flex;
    flex-grow: 1;
}

.todo-edit-input {
    margin: 0 10px;
    flex-grow: 1;
    padding: 0 10px;
    border-radius: 5px;
}

.error {
    color: red;
    font-weight: 700;
    margin-left: -120px;
}
